{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="contents row">
  <div class="contents_post">
    {% if post.image %}
      <span><img src="{{ post.image.url }}" alt="{{ post.name }}"></span>
    {% endif %}
    <h2>{{ post.name }}</h2>
    <p>投稿者: {{ post.user.nickname }}</p>
    <p>{{ post.catchphrase }}</p>
    <p>{{ post.concept }}</p>
    {% if user == post.user %}
    <ul>
      <li>
        <form action="{% url 'Posts:delete' post.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="delete-btn" value="削除する">
        </form>
      </li>
      <li>
        <a href="{% url 'Posts:update' post.id %}" class="update-btn">編集する</a>
      </li>
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}