{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Protospace</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="header">
    <div class="header__bar row">
      <p>SHARE THE PROTOTYPE</p>
      <h1 class="grid-6"><a href="{% url 'Posts:index' %}">PROTO SPACE</a></h1>
      {% if user.is_authenticated %}
        <div class="user_nav grid-6">  
          <form method="POST" action="{% url 'users:logout' %}"> 
            {% csrf_token %} 
            <button type="submit">ログアウト</button>
          </form>
          <a class="post" href="{% url 'Posts:create' %}">投稿する</a>
        </div>
      {% else %}
        <div class="grid-6">
           <a class="post" href="{% url 'users:login' %}">ログイン</a>
          <a class="post" href="{% url 'users:sign_up' %}">新規登録</a>
          
        </div>
      {% endif %}
    </div>
  </header>
  {% block content %}{% endblock content %}

  <footer>
    <p>
    Copyright ©️ PROTO SPACE ALL rights reserved
    </p>
  </footer>
  </body>
</html>